.body {
  margin: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #1c1718;
  justify-content: space-between;
}

.nav-list {
  display: flex;
}

.nav-list > h2,
.nav-list > h3 {
  margin: 0;
}

.nav-logo {
  width: 100%;
}
