:root {
  --oren: #ff5c00;
  --hitam: #1c1718;
  --putih: #d9d9d9;

  --paling: 128px;
  --extra: 90px;
  --besar: 61px;
  --sedang: 32px;
  --semititle: 36px;
}

body,
html {
  font-family: "Maven Pro", sans-serif;
  margin: 0;
  background-color: #ffffff;
}

nav {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  justify-content: space-between;
  padding: 0px 0px 0px 47px;
  color: #000000;
  border-bottom: 7px solid var(--oren);
}

.nav-list {
  display: flex;
  gap: 67px;
  align-items: center;
}

.nav-list > h2,
.nav-list > h3 {
  font-weight: 500;
  margin: 0;
}

.nav-list > h3 {
  font-size: 22px;
}

.nav-list > h2 {
  font-size: var(--semititle);
  padding: 30px 31px 30px 37px;
  background: var(--oren);
  border-radius: 0px 0px 0px 25px;
}

.nav-logo {
  width: 196px;
}

main {
  display: flex;
  min-height: 780px;
  height: 100vh;
  padding: 106px 92px 0px 73px;
  justify-content: space-between;
  background-size: 896px 701.99px;
}

.main-title {
  font-size: var(--extra);
  /* margin: 0; */
  color: black;
  line-height: 89%;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  margin-top: 40px;
  position: relative;
}

.main-star {
  position: absolute;
  top: -66px;
  right: -20px;
}

.main-color {
  color: var(--oren);
}

.main-batas {
  border: 1px solid var(--putih);
}

.main-btn {
  background-color: var(--oren);
  padding: 20px 16px;
  color: black;
  width: fit-content;
  border-radius: 12px;
  margin-top: 30px;
}

.main-left,
.main-right {
  z-index: 1;
}

.main-leftbarang {
  z-index: -1;
  display: flex;
  position: relative;
}

.main-barang {
  position: absolute;
  left: 100px;
  top: 0;
  width: 896px;
}

.main-lingkaran {
  width: 91.74px;
  margin-top: 131px;
}

.main-img {
  max-width: 443px;
  border-radius: 24px;
  height: 584px;
}

.section {
  background: black;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 52px;
  padding: 45px 87px 0px 53px;
}

.section-img {
  max-width: 400px;
}

.section-title {
  font-size: var(--besar);
  margin: 0;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 18px;
}

.section-text {
  margin: 0;
  margin-top: 44px;
  font-weight: 400;
  font-size: var(--sedang);
  direction: rtl;
  text-align: justify;
  padding-bottom: 50px;
}

.section-logo {
  width: 79px;
  position: relative;
  top: 3px;
}

.second {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 115px 81px 157px 54px;
  background-color: #ffffff;
  color: black;
  border-top: 4px solid var(--oren);
  border-bottom: 4px solid var(--oren);
  margin-top: 27px;
}

.second-logo {
  width: 416px;
}

.second-logotitle {
  font-weight: 700;
  font-size: var(--paling);
  margin: 0;
}

.second-left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-right {
  direction: rtl;
  text-align: justify;
}

.second-righttitle {
  font-size: var(--besar);
  font-weight: 500;
  margin: 0;
}

.second-ojk {
  width: 274px;
}

.second-text {
  font-weight: 400;
  font-size: var(--sedang);
}

.jaminan {
  padding: 67px 216px 58px 202px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.jaminan-title,
.cara-title {
  font-family: "Montserrat", sans-serif;
  font-size: var(--besar);
  margin: 0;
  text-align: center;
  color: black;
}

.jaminan-hr,
.cara-hr {
  border: 1px solid var(--putih);
  width: 70%;
  margin: 0;
  margin-top: 20px;
}

.jaminan-list {
  display: flex;
  column-gap: 30px;
  row-gap: 90px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 53px;
}

.jaminan-each {
  width: 250px;
  aspect-ratio: 1/1;
  background: var(--oren);
  border-radius: 43px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.jaminan-each > h2 {
  color: white;
  position: absolute;
  bottom: 18px;
  text-transform: uppercase;
}

.jaminan-img {
  width: 190px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.cara {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--putih);
}

.cara-list {
  display: flex;
  width: 100%;
  height: 693px;
  gap: 2.5px;
  margin-top: 53px;
}

.cara-each {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #ffffff 100%),
    var(--oren);
  display: flex;
  align-items: center;
  padding: 0 25px;
  flex-direction: column;
}

.cara-each > h1 {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 89%;
  text-transform: uppercase;
}

.cara-nomor {
  font-size: var(--besar);
}
.cara-text {
  font-size: 48px;
}

.cara-detail {
  font-size: var(--sedang);
  color: white;
}

.cara-each.pertama {
  width: 25%;
  border-radius: 0px 24px 0px 0px;
}
.cara-each.kedua {
  width: 50%;
  border-radius: 24px 24px 0px 0px;
  text-align: center;
}
.cara-each.ketiga {
  width: 25%;
  direction: rtl;
  border-radius: 24px 0px 0px 0px;
}

.cara-btn {
  color: var(--oren);
  background: black;
  border-radius: 19px;
  padding: 23px 20px;
  font-weight: 600;
  font-size: var(--semititle);
}

.outlet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 152px;
  margin-top: 80px;
}

.outlet-title {
  font-size: var(--besar);
  margin: 0;
  text-align: center;
}

.outlet-content {
  margin-top: 40px;
  text-align: center;
  background-color: var(--oren);
  border-radius: 24px;
  color: white;
  padding: 51px 200px;
  padding-bottom: 11px;
}

.outlet-contitle {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: var(--semititle);
  margin: 0;
}

.outlet-text {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
  line-height: 28px;
  margin-top: 20px;
}

.outlet-cek {
  margin: 0;
  border-radius: 24px;
  background-color: #000000;
  color: white;
  font-size: var(--sedang);
  font-family: "Montserrat", sans-serif;
  padding: 25px 90px;
}

footer {
  padding: 99px;
  margin-top: 200px;
}

.footer-title {
  margin: 0;
  font-weight: 700;
  font-size: var(--extra);
  font-family: "Montserrat", sans-serif;
  line-height: 89%;
  text-transform: uppercase;
}

.footer-content {
  padding-left: 40px;
  padding-right: 70px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-right {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-leftup > h1 {
  font-weight: 500;
  margin: 0;
  font-size: var(--besar);
}
.footer-leftup > h2 {
  font-weight: 400;
  margin: 0;
  font-size: var(--sedang);
}

.footer-rightup > h1 {
  font-weight: 500;
  margin: 0;
  font-size: var(--besar);
}

.footer-rightup > h2 {
  font-weight: 400;
  margin: 0;
  font-size: var(--sedang);
  max-width: 570px;
}

.footer-visit {
  width: 263px;
}

.footer-social {
  margin-top: 40px;
  display: flex;
  gap: 30px;
  font-size: 30px;
}

.footer-logo {
  width: 419px;
  margin-top: 70px;
}

.footer-visitcontainer.after {
  display: none;
}

.footer-responsive {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.harus-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.harus-titleleft {
  font-family: "Montserrat", sans-serif;
  font-size: var(--besar);
  margin: 0;
  text-transform: uppercase;
}

.harus-adagadai {
  text-transform: capitalize;
  font-family: "Maven Pro", sans-serif;
  font-size: var(--paling);
}

.harus-titleright {
  font-size: calc(var(--paling) * 2);
  margin: 0;
  position: relative;
  top: -20px;
}

.harus-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0 150px;
  row-gap: 85px;
  column-gap: 75px;
  justify-content: center;
}

.harus-each {
  display: flex;
  align-items: center;
  gap: 15px;
  flex-direction: column;
}

.harus-eachimg {
  padding: 55px 60px;
  width: 100px;
  box-shadow: 0px 4px 4px 8px rgba(0, 0, 0, 0.13);
  border-radius: 43px;
}

.harus-eachtitle {
  font-weight: 700;
  font-size: var(--semititle);
  text-transform: capitalize;
  text-align: center;
  font-family: "Maven Pro", monospace;
  color: var(--oren);
  margin: 0;
}

.harus-eachdetail {
  font-weight: 600;
  font-family: "Maven Pro", monospace;
  text-transform: capitalize;
  text-align: center;
  font-size: var(--semititle);
  color: black;
  margin: 0;
}

/* Media Queries */
@media only screen and (max-width: 1507px) {
  :root {
    --besar: 58px;
  }
  .second-text {
    margin: 0;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 1443px) {
  .main-star {
    position: absolute;
    top: -66px;
    /* right: -67px; */
  }
  .main-barang {
    width: 700px;
    left: 180px;
  }
}

@media only screen and (max-width: 1402px) {
  .second {
    flex-direction: column;
  }
  .second-right {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-goresponsive {
    display: none;
  }

  .second-ojk {
    margin-top: 67px;
  }
}

@media only screen and (max-width: 1365px) {
  .outlet-content {
    padding: 31px 150px;
  }

  :root {
    --semititle: 30px;
  }

  .outlet-text {
    font-size: 20px;
  }

  .main-title {
    width: fit-content;
    margin: 0;
  }

  :root {
    --besar: 48px;
    --sedang: 24px;
  }

  .footer-logo {
    width: 350px;
  }

  .footer-visit {
    width: 232px;
  }

  .footer-social {
    gap: 20px;
  }

  main {
    flex-direction: column;
    gap: 70px;
    height: fit-content;
    padding: 60px 60px;
    padding-bottom: 39px;
  }
  .main-right {
    display: flex;
    justify-content: center;
  }
  .main-leftbarang {
    flex-direction: column;
  }
  .main-barang {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
  }

  .main-lingkaran {
    margin: 0;
  }

  .main-star {
    /* right: -123px; */
    top: 0;
  }

  .main-btn {
    display: none;
  }

  footer {
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1265px) {
  .section-text {
    margin-top: 32px;
  }
  .section-img {
    max-width: 350px;
  }

  .jaminan {
    padding: 50px 170px 38px 170px;
  }
}

@media only screen and (max-width: 1165px) {
  .outlet-content {
    padding: 21px 0;
    width: 100%;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .outlet-text {
    width: 60%;
  }

  .outlet {
    width: 100%;
    padding: 0;
  }

  :root {
    --paling: 110px;
  }

  .second-logo {
    width: 380px;
  }
  .second {
    padding: 80px 50px 120px 50px;
  }

  .jaminan {
    padding: 50px 100px 38px 100px;
  }

  .jaminan-each {
    width: 220px;
  }
  .jaminan-list {
    row-gap: 40px;
  }
  .jaminan-each > h2 {
    font-size: 20px;
  }

  .jaminan-img {
    width: 160px;
  }
}

@media only screen and (max-width: 990px) {
  .harus-eachimg {
    padding: 40px 45px;
  }

  .harus-list {
    padding: 0 120px;
  }
  .cara-text {
    font-size: 40px;
  }
  .cara-list {
    height: 500px;
  }

  .cara-each {
    padding: 0 18px;
  }

  :root {
    --semititle: 28px;
  }
  .cara-btn {
    padding: 17px 15px;
  }

  .section {
    padding: 45px 10px 0px 10px;
    gap: 32px;
    align-items: flex-start;
    padding: 0px 10px 0px 10px;
  }

  .section-right {
    margin-top: 26px;
  }
  /* .section-text {
    font-size: 24px;
  } */
  .section-title {
    flex-wrap: wrap;
  }

  .jaminan {
    padding: 50px 70px 38px 70px;
  }

  .jaminan-each {
    width: 200px;
    border-radius: 33px;
  }

  .jaminan-each > h2 {
    font-size: 19px;
    bottom: 7px;
  }

  .jaminan-img {
    width: 140px;
    margin-top: 20px;
  }
}

@media only screen and (max-width: 960px) {
  .nav-list {
    display: none;
  }

  .main-star {
    /* right: -75px; */
    width: 60px;
  }

  :root {
    --extra: 76px;
  }

  .second-ojk {
    width: 247px;
    margin-top: 31px;
  }

  nav {
    padding: 15px 0px 15px 27px;
  }

  .outlet-cek {
    padding: 20px 50px;
  }

  .harus-list {
    padding: 0 60px;
    row-gap: 55px;
    column-gap: 45px;
  }

  .harus-eachimg {
    padding: 35px 40px;
    width: 90px;
    border-radius: 30px;
  }
}

@media only screen and (max-width: 856px) {
  .section-logo {
    width: 62px;
  }

  footer {
    padding: 50px;
  }

  .footer-content {
    flex-direction: column;
    padding: 0 30px;
  }

  .footer-visitcontainer.before {
    display: none;
  }
  .footer-visitcontainer.after {
    display: block;
  }

  .footer-right {
    align-items: normal;
  }

  .footer-logo {
    width: 300px;
  }

  .cara-text {
    font-size: 34px;
  }

  :root {
    --paling: 90px;
  }

  .second-logo {
    width: 320px;
  }
}

@media only screen and (max-width: 800px) {
  .jaminan {
    padding: 50px 70px 38px 70px;
  }

  .jaminan-each {
    border-radius: 25px;
    width: 180px;
  }

  .jaminan-img {
    width: 120px;
  }
}

@media only screen and (max-width: 777px) {
  .cara-btn {
    padding: 15px 13px;
  }

  .harus-eachimg {
    width: 80px;
    border-radius: 20px;
    padding: 30px 35px;
  }

  :root {
    --sedang: 20px;
    --semititle: 24px;
    --besar: 44px;
  }

  .section-title {
    gap: 8px;
  }

  .section-logo {
    width: 50px;
  }

  .main-img {
    height: 476px;
  }

  .main-lingkaran {
    width: 70px;
  }

  main {
    gap: 40px;
    padding: 40px 40px;
  }

  .second-ojk {
    width: 207px;
    margin-top: 21px;
  }

  .second {
    padding: 60px 30px 80px 30px;
  }

  .second-logo {
    width: 286px;
  }

  :root {
    --paling: 80px;
    --extra: 69px;
  }

  .jaminan-list {
    margin-top: 30px;
  }

  .outlet-content {
    margin-top: 20px;
  }

  .fa-solid.fa-circle-arrow-down.outlet-circle {
    font-size: 50px !important;
  }
  .outlet-text {
    margin-top: 10px;
    font-size: 17px;
  }

  nav {
    padding-left: 17px;
  }

  .cara-list {
    margin-top: 33px;
  }
}

@media only screen and (max-width: 750px) {
  .jaminan {
    padding: 50px 70px 38px 70px;
  }

  .jaminan-each {
    width: 160px;
  }

  .jaminan-img {
    width: 100px;
  }
}

@media only screen and (max-width: 720px) {
  .harus-list {
    padding: 0 30px;
    row-gap: 35px;
    column-gap: 20px;
  }

  .harus-eachimg {
    width: 70px;
    padding: 25px 30px;
  }

  :root {
    --extra: 67px;
  }

  .section-img {
    max-width: 300px;
    width: 45%;
  }

  .main-star {
    width: 55px;
    /* right: -60px; */
  }
  .cara-text {
    font-size: 30px;
  }
  .cara-each {
    padding: 0 7px;
  }

  .footer-visit {
    width: 200px;
  }

  .footer-social {
    gap: 15px;
  }

  .footer-logo {
    width: 250px;
  }

  footer {
    padding: 30px;
  }

  .footer-content {
    padding: 0 20px;
  }

  .cara-list {
    height: 400px;
  }
}

@media only screen and (max-width: 690px) {
  .main-img {
    height: 452px;
  }
  .cara-text {
    font-size: 24px;
  }

  :root {
    --extra: 60px;
    --besar: 38px;
  }

  .section-logo {
    width: 44px;
  }

  .main-star {
    width: 50px;
    /* right: -55px; */
  }

  .section-text {
    margin-top: 15px;
  }

  .outlet-text {
    font-size: 16px;
  }
  :root {
    --semititle: 23px;
  }
  .cara-btn {
    border-radius: 13px;
  }
  .outlet-cek {
    padding: 15px 40px;
    border-radius: 18px;
  }
}

@media only screen and (max-width: 650px) {
  .main-img {
    height: 432px;
  }
}

@media only screen and (max-width: 600px) {
  .main-img {
    height: 402px;
    width: 90%;
    object-fit: contain;
  }

  main {
    gap: 20px;
  }

  .main-img {
    height: 425px;
  }
  .cara-text {
    font-size: 24px;
  }
  :root {
    --extra: 54px;
    --besar: 34px;
    --semititle: 22px;
    --sedang: 18px;
  }

  .section-logo {
    width: 40px;
  }

  .section {
    gap: 20px;
  }
  .main-star {
    width: 50px;
    /* right: -55px; */
  }

  :root {
    --paling: 70px;
  }
  .second-logo {
    width: 276px;
  }
}

@media only screen and (max-width: 550px) {
  :root {
    --extra: 48px;
    --besar: 30px;
    --sedang: 17px;
  }

  .main-img {
    height: 392px;
  }

  .section-logo {
    width: 36px;
  }
  .main-star {
    width: 50px;
    /* right: -50px; */
  }

  .footer-logo {
    width: 200px;
  }

  .footer-visit {
    width: 180px;
  }

  .footer-social {
    font-size: 25px;
    gap: 10px;
  }

  .cara-text {
    font-size: 20px;
  }

  .cara-list {
    height: 375px;
    gap: 1.5px;
  }
}

@media only screen and (max-width: 495px) {
  :root {
    --extra: 44px;
  }
  .main-star {
    width: 45px;
    /* right: -45px; */
  }

  .footer-logo {
    width: 175px;
  }
  .footer-content {
    padding: 0 10px;
  }

  .footer-visit {
    width: 160px;
  }

  .footer-social {
    font-size: 20px;
  }

  .jaminan-each {
    width: 140px;
    border-radius: 23px;
  }

  .jaminan-img {
    width: 80px;
  }

  .jaminan-each > h2 {
    font-size: 17px;
    bottom: 7px;
  }

  .second-logo {
    width: 233px;
  }

  :root {
    --paling: 60px;
  }

  .second {
    padding: 30px 15px 50px 15px;
  }
}

@media only screen and (max-width: 462px) {
  :root {
    --extra: 40px;
  }
  .main-star {
    width: 40px;
    /* right: -45px; */
  }

  .jaminan-list {
    column-gap: 15px;
    row-gap: 25px;
  }

  .jaminan-each {
    width: 115px;
  }

  .jaminan-img {
    width: 70px;
    margin-top: 12px;
  }

  .jaminan-each > h2 {
    font-size: 15px;
  }
  .jaminan {
    padding: 30px 40px 18px 40px;
  }
  :root {
    --extra: 35px;
    --besar: 27px;
    --sedang: 15px;
  }
}

@media only screen and (max-width: 430px) {
  .cara-text {
    font-size: 18px;
  }

  .main-star {
    width: 35px;
  }

  .footer-logo {
    width: 150px;
  }

  .footer-visit {
    width: 140px;
  }
  .footer-social {
    font-size: 18px;
    margin-top: 20px;
  }

  footer {
    padding: 20px;
  }
  .footer-content {
    padding: 0 5px;
  }
}

@media only screen and (max-width: 400px) {
  :root {
    --extra: 32px;
  }

  main {
    padding: 40px 30px;
  }

  .cara-text {
    font-size: 16px;
  }
}
